<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group">
                Showing ({{items.length}}) Results for {{searchQuery}}:
            </div>
        </div>
        <div class="panel-body">
            <searchresultitem v-for="(item,index) in items" :item="item" :index="index"></searchresultitem>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component ready.')
        },
        
        props:{
            searchResults:Number,
            searchQuery:String,
            items:Array
        }
    }
</script>
