<template>
    <div class="row">
        <hr v-if="index > 0"/>
        <div class="row">
            <img class="col-sm-3" :src="item.imageUrl" />
            <h3 class="col-md-6">{{item.name}}</h3> 
            <div class="col-md-3">
                <h4>${{item.price}}</h4><br/>
                <button class="btn btn-success" v-on:click="saveProduct" >Add to Dream Sheet</button>
                <div class="clearfix"></div>
                <br/>
                <button class="btn btn-primary" data-toggle="collapse" :data-target="targetId">Description</button>
            </div>
        </div>
        <br/>
        <div class="row collapse" :id="descId">
            <blockquote class="col-md-offset-1" v-html="item.description"></blockquote>
        </div>
    </div>
    
</template>

<script>
    export default {
        mounted() {
            console.log('Component ready.')
        },
        
        data:function(){
            return {
                targetId:"#description"+this.index,
                descId:"description"+this.index
            };
        },
        
        props: {
            item: Object,
            index:Number
        },
        
        methods:{
            saveProduct: function(){
                var upc = this.item.upc;
                $.ajaxSetup({
                    headers: {
                        'X-CSRF-TOKEN': Laravel.csrfToken
                    }
                });
                jQuery.post( "/product/add", { upc:  this.item.upc})
                    .done(function( json ) {
                        if(json.success){
                            alert("Item added:" + upc);
                        }
                    })
                    .fail(function( jqxhr, textStatus, error ) {
                        var err = textStatus + ", " + error;
                        console.log( "Request Failed: " + err );
                    });
            }
        }
    }
</script>
